body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--navyblue, #2e2f42);
  background-color: #fff;
}

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*----------------------------------header*/

.header_navigation_logo,
.footer_navigation_logo {
  font-family: "raleway", sans-serif;

  font-size: 18px;
  line-height: 1.17; /* 116.667% 21px*/
  letter-spacing: 0.03em; /*0.54px*/
  text-transform: uppercase;
  color: var(--iris, #4d5ae5);
}

.header_navigation_logo_second {
  color: var(--navyblue, #2e2f42);
}

.header_menu_link {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% 24px*/
  letter-spacing: 0.02em; /* 0.32px */
}

.address_menu_mail,
.address_menu_tel {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5; /* 150% 24px*/
  letter-spacing: 0.02em; /* 0.32px */
}

/*-------------------------------section class hero*/
.hero {
  background: var(--navyblue, #2e2f42);
}
.hero_title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em; /*1.12px*/
}
.hero_btn {
  color: var(--white, #fff);
  font-family: inherit;
  font-size: 16px;
  font-weight: 0.5;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/*-------------------------------motivation*/

.motivation_subtitle {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.motivatiom_item-text {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/*-------------------------------we_doing*/
.we_doing_subtitle {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/*-------------------------------team*/

.team {
  background: var(--cloud, #f4f4fd);
}
.team_our {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team_item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team_subtitle {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.team_text {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/*-------------------------------footer*/
.footer {
  background: var(--navyblue, #2e2f42);
}
.footer_navigation_logo_second {
  color: var(--cloud, #f4f4fd);
}
.footer_text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/*-------------------------------portfolio*/

.button_nav_site {
  color: var(--iris, #4d5ae5);
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
.conteiner_portfolio_subtitle {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.conteiner_portfolio_text {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
